.model-1{
    background-color: firebrick;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 12pt;
    outline-style: solid;
    outline-width: 3px;
    outline-color:black;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.model-2{
    background-color: teal;
    width: 150px;
    height: 150px;
}

.model-3{
    background-color: thistle;
    height: 100px;
    width: 100px;
}

.overlapping-margin div{
    display: inline-block;
    background-color: rgb(125, 206, 134);
    width: 120px;
    height: 100px;
}

.model-5{
    margin-left: 10px;
}

.model-4{
    margin-right: 10px;
}

.negatif-margin .model-7{
    background-color: rgb(223, 102, 152);
    width: 100px;
    height: 100px;
    margin-left: -30px;
}